@import '@/Sass/Normalize.scss';
@import '@/Sass/Variables.scss';
@import '@/Sass/Layout.scss';
@import '@/Sass/Header.scss';
@import '@/Sass/Sidebar.scss';
@import '@/Sass/Main.scss';
@import '@/Sass/UserProfile.scss';
@import '@/Sass/Congratulations.scss';
@import '@/Sass/ActivityChart.scss';
@import '@/Sass/AverageSessionsChart.scss';
@import '@/Sass/PerformanceChart.scss';
@import '@/Sass/ScoreChart.scss';
@import '@/Sass/Nutriments.scss';