.perfCard {
    background: #282d30;
    width: 16.125rem;
    height: 16.438rem;
    color: #fff;
    border-radius: 5px;
}

.perfTooltip {
    background: #3A444A;
    font-size: 10px;
    border-radius: 30px;
    padding: 1px 5px 1px 5px;
}