.sidebar {
    width: 7.313rem;
    min-height: fit-content;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 5.5rem;

    @media (max-width: 1000px) {
        min-height: 120vh;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 256px;
    }

    &__copyright {
        margin-top: 350px;
        margin-bottom: 59px;
        color: white;
        font-size: 12px;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }
}