.sidebar {
    width: 117px;
    height:135vh;
    min-height: fit-content;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        margin-top: 256px;
    }

    &__copyright {
        margin-top:164px;
        margin-bottom: 59px;
        color: white;
        font-size: 12px;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }
}